{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>蔵書管理データベース</h1>
<div class="message">{{message}}</div>
<form method="post">
  <label for="genre">分野で検索</label>
  <input name="genre">
  <input type="submit" value="検索">
</form>
<table>
  <tr class="keyname">
    <th>書名</th><th>著者</th><th>分野</th>
  </tr>
  {% for book in books %}
    <tr class="list">
    <td>{{book['title']}}</td>
    <td><a href="{{ url_for('authors.show',author=book['author']) }}">{{book['author']}}</a></td>
    <td>{{book['genre']}}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}